@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&family=Merriweather:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}
.login_body {
  background-image: url("Images/Crafting.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/*Nav bar */
header {
  position: sticky;
  top: 0;
}
nav {
  background-color: rgb(218, 214, 187);
  width: 100%;
  height: 50px;
  box-shadow: 0 5px 5px 0;
}
.nav {
  display: flex;
  list-style: none;
  text-decoration: none;
  align-items: center;
  height: 100%;
  width: 100%;
}
.nav_link {
  background-color: darkslategray;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;

  text-decoration: none;
  color: white;
  font-family: "Fuzzy Bubbles", cursive;
}
.push {
  margin-left: auto;
}
.current {
  text-decoration: underline white 3px;
}

.logo {
  display: flex;
  align-items: center;
  font-family: "Fuzzy Bubbles", cursive;
  font-size: 20px;
  margin-right: 20px;
}
#logo {
  width: 45px;
  height: 45px;
  margin-right: 5px;
}

/* Login styling stuff */
.login_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
form {
  background-color: rgba(168, 165, 125, 0.8);
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  padding: 15px;
  border-radius: 10px;
  border: solid black 2px;
  margin-right: 40px;
}

label {
  font-size: 20px;
  transition: 0.5s;
  pointer-events: none;
  position: relative;
  left: 15px;
  top: -35px;
}

.password:focus ~ .label_container #password_label {
  top: -75px;
  left: 7px;
}
.email:focus ~ .label_container #mail_label {
  top: -75px;
  left: 7px;
}

.email:not(:placeholder-shown) ~ .label_container #mail_label {
  top: -75px;
  left: 7px;
}
.password:not(:placeholder-shown) ~ .label_container #password_label {
  top: -75px;
  left: 7px;
}

.login_button {
  padding: 15px;
  border-radius: 8px;
  width: 80px;
  font-family: "Fuzzy Bubbles", cursive;
  font-size: 15px;
}

.label_container {
  width: 150px;
  height: 0px;
  position: absolute;
}

/* Footer */

footer {
  padding-top: 5px;
  width: 100%;
  background-color: rgb(243, 243, 243);

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}
.footer_item {
  width: 150px;
  color: rgb(117, 117, 117);
}

.terms {
  font-size: 12px;
}
.info {
  font-size: 12px;
}

.footer_brand {
  font-size: 20px;
  font-family: "Fuzzy Bubbles", cursive;
}

/* Home page */
.hero {
  width: 100%;
  height: 100vh;
  background-image: url("images/cosplay.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero_logo {
  width: 300px;
}
h1 {
  font-family: "Fuzzy Bubbles", cursive;
  color: rgb(243, 240, 219);
  font-size: 50px;
}

.introduction {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slideshow_introduction {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 40px;
  background-color: rgb(218, 214, 187);
}

h2 {
  margin-bottom: 15px;
}

.introduction_container {
  height: 90%;
  width: 250px;
  flex-grow: 4;
  margin: 20px;
}

.introduction_content {
  font-family: "Merriweather", serif;
  font-weight: bold;
}

/*slide show styling */
.slideshow_container {
  margin: 20px;
  width: 400px;
  position: relative;
}
.slide_image {
  width: 100%;
}
.slide_number {
  font-size: 14px;
  font-family: "Fuzzy Bubbles", cursive;
  position: absolute;
  top: 0px;
  margin: 5px;
  color: rgb(219, 218, 208);
}
.slide {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  color: white;
  font-size: 25px;
  padding: 5px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.next {
  right: 0;
}
.slide_caption {
  position: absolute;
  font-size: 15px;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  font-family: "Fuzzy Bubbles", cursive;
  color: rgb(219, 218, 208);
}
